<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Accordion</strong>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          Click the accordions below to expand/collapse the accordion content.
        </p>
      </c-card-body>
    </c-card>
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Accordion</strong> flush
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          Add <code>flush</code> to remove the default <code>background-color</code>, some
          borders, and some rounded corners to render accordions edge-to-edge with their parent
          container.
        </p>
      </c-card-body>
    </c-card>
    <c-card class="mb-4">
      <c-card-header>
        <strong>Angular Accordion</strong> alwaysOpen
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          Add <code>alwaysOpen</code> property to make accordion items stay open when another
          item is opened.
        </p>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
